.fxwindow {
  -fx-padding: 0 0 0 0;
}

.window-button.button {
  -icon-paint: #A9A9A9;
  -fx-cursor: default;
  -fx-background-color: transparent;
  -fx-min-height: 30;
  -fx-max-height: 30;
  -fx-min-width: 45;
  -fx-max-width: 45;
  -fx-margin: 0;
  -fx-padding: 0;
  -fx-background-radius: 0;
}

.window-button.button .icon {
  -fx-background-color: -icon-paint;
  -fx-max-width: 10;
  -fx-max-height: 10;
}

.window-button.button:hover {
  -fx-background-color: #00000011;
  -icon-paint: white;
}

.window-button.button:pressed {
  -fx-background-color: #00000022;
}

.minimize-button.button .icon {
  -fx-shape: "M 0 0 L 1 0 L 1 1 L 0 1 Z";
  -fx-max-height: 1;
}

.maximize-button.button .icon {
  -fx-shape: "M 0 0 L 60 0 L 60 60 L 0 60 L 5 55 L 55 55 L 55 5 L 5 5 L 5 55 L 0 60 Z";
}

.restore-button.button .icon {
  -fx-shape: "M 0 60 L 0 12 L 12 12 L 12 0 L 60 0 L 60 48 L 48 48 L 48 42 L 54 42 L 54 6 L 18 6 L 18 12 L 48 12 L 48 60 L 0 60 L 6 54 L 42 54 L 42 18 L 6 18 L 6 54 Z";
}

.close-button.button {
  -fx-min-width: 45px;
  -fx-max-width: 45px;
}

.close-button.button:hover {
  -fx-background-color: #E81123;
  -icon-paint: white;
}

.close-button.button .icon {
  -fx-background-color: -icon-paint;
  -fx-shape: "M 0 3 L 3 0 L 30 27 L 57 0 L 60 3 L 33 30 L 60 57 L 57 60 L 30 33 L 3 60 L 0 57 L 27 30 Z";
}

.close-button.button:pressed {
  -fx-background-color: derive(#E81123, 70%);
}

